input[type=text], textarea{
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 30px;
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.75em;
	transition: 0.6s ease;
}
input[type=text]:hover, textarea:hover{
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
	border: 1px solid rgba(0, 0, 0, .9);
}
input[type=text]:focus, textarea:focus{
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.35);
	border: 1px solid rgba(0, 0, 0, .9);
	outline: none;
}
input[type=submit] {
	width: 220px;
	height: 70px;
	background-color: white;
	border-radius: 10px;
	font-family: #222;
	font-size: 1.25em;
	line-height: 1.375em;
	text-transform: uppercase;
	transition: 1s ease;
}
input[type=submit]:hover {
	cursor: pointer;
	border-color: #915d42;
	background-color: rgba(0, 0, 0, .8);
	color: #915d42;
}
html {
	height: 100%;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI";
}
a:hover {
	text-decoration: none;
	color: red;
}
li {
margin-top: 50px;
	border: 2px solid#000000;
	width: 175px;
	height: 55px;
	background: rgba(255, 255, 255, 0);
	color: white;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
li:hover {
	margin-top: 50px;
	border: 2px solid#1FBDF1;
	width: 175px;
	height: 55px;
	background: rgba(255, 255, 255, 0);
	color: white;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}